
*.ewp
Debug/Obj/.ninja_deps
Debug/Obj/.ninja_log
*.ninja
*.pbi
*.dep
*.xcl
*.pbd
*.browse
*.pbw
*.dnx
*.ps1
*.bat
*.o
*.out
*.wsdt
*.dbgdt
*.ewd
*.ewt
*.eww
*.bak
*.txt
*.xml
*.map
*.log
*.xlsx
*.sal
